<!doctype html>

<html ng-app="wwwol-client" lang="en">
<head>
    <meta charset="utf-8">

    <title>wwwol</title>
    <meta name="description" content="Web application that helps you to list hosts on the same network, and wake them.">
    <meta name="author" content="Morgan Courbet">

    <!-- required by Bootstrap to ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/angular.min.js"></script>
    <script src='js/ngMask.min.js'></script>
    <script src="js/controllers.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/wwwol.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Code+Pro">
</head>

<body><div class="container-fluid" id="main">
    <div class="jumbotron">
        <h1><code>wwwol</code></h1>
        <p><code>wwwol</code> will regularly scan the local network to find hosts and help you waking them.</p>
    </div>

    <div ng-controller="hostsList">
        <h2>Hosts available</h2>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="label-server"><i class="fa fa-server"></i></span>
                <select ng-model="selectedHost" class="form-control" aria-describedby="label-server">
                    <option ng-repeat="host in hosts" value="{{host._id}}">
                        {{host.hwaddr}} ({{host.name}})
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <button ng-click="wakeup(selectedHost)" class="btn btn-default">
                <i class="fa fa-bolt"></i> Wake up
            </button>
            <button ng-click="remove(selectedHost)" class="btn btn-danger">
                <i class="fa fa-trash-o fa-lg"></i> Remove
            </button>
        </div>

        <div class="form-horizontal">
            <label class="col-sm-4 control-label" for="newHostname">Rename selected host:</label>
            <div class="col-sm-8 input-group">
                <input type="text" ng-model="hostname" placeholder="New hostname…" id="newHostname" class="form-control"/>
                <span class="input-group-btn">
                    <button ng-click="update(selectedHost, hostname)" class="btn btn-default">
                        <i class="fa fa-pencil-square-o"></i> Rename
                    </button>
                </span>
            </div>
        </div>

        <form class="form-horizontal">
            <h2>Add a host</h2>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="addHostHwaddr">Hardware address</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="hwaddr" placeholder="XX:XX:XX:XX:XX:XX" pattern="([\da-fA-F]{2}:){5}[\da-fA-F]{2}" maxlength="17" id="addHostHwaddr" class="monospace form-control" mask="ww:ww:ww:ww:ww:ww"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" for="addHostname">Hostname (optional)</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="hostname" class="form-control" id="addHostname"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button ng-click="add(hwaddr, hostname)" class="btn btn-default">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div></body>
</html>

